2021summer_lesson1/
hw2/APTVCF0921_del_sort_norm_sample_wgstype_contig_sort.vcf
.*.swp
__pycache__/
data/
hisat2/
*.pth
ezGeno
final/chip.csv
final/chip_rsid.txt
final/clinvar.vcf
final/clinvar_rsid.txt
final/Solution.tar
final/ans.csv
final2/clinvar.vcf
final2/Solution.tar
